<div class="row">
    <div class="col.md-12">
        <button routerLink="/Personajes" class="btn btn-primary">Regresar</button>
    </div>
    <div class="col-md-4">
        <img [src]="Personaje.Img"   >
    </div>
    <div class="col-md-6">
            <h2>{{Personaje.id}}</h2>
            <h2>{{Personaje.Nombre}}</h2>
            <h4>{{Personaje.Estatus}}</h4>
            <h4>{{Personaje.Genero}}</h4>
            <h4>{{Personaje.Origen}}</h4>
            <h4>{{Personaje.Creacion}}</h4>
    </div>
</div>
